﻿
@{
    ViewBag.Title = "Index";
}

<center>
    <div style="font-size:26px">
        <div><b>Bahadır Esad DEMİR</b></div>
        <div><b>B151210064</b></div>
        <div><b>B Grubu</b></div>
    </div>
</center>

