﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="header">
        <div class="logo">FİLMİSTAN</div>
        <ul id="navigation">
            <li class="selected">
               <a href="#">Senaristler</a>
            </li>
            <li>
                <a href="#">Yonetmenler</a>
            </li>
            <li>
                <a href="#">Senaryo</a>
            </li>
            <li>
                <a href="#">Hakkında</a>
            </li>
            <li>
                <a href="#">İletişim</a>
            </li>
            <li>
                <a href="#">Üye Ol</a>
            </li>
            <li>
                <a href="#">Giris</a>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="navbar-fixed-bottom" style="color:white">
        <div id="footer">
            <div>
                &copy; @DateTime.Now.Year by FİLMİSTAN Tüm Hakları Saklıdır.
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>